langchain
langchain-classic
langchain-openai
langchain-community
langchain-ollama
langchain-text-splitters
openai
chromadb
tiktoken
unstructured[pdf]
faiss-cpu
python-dotenv
streamlit
sentence-transformers
fastapi
uvicorn